@import url(./__title/search__title.css);
@import url(./__form/search__form.css);
@import url(./__city/search__city.css);
@import url(./__button/search__button.css);
@import url(./__result/search__result.css);
@import url(./__result-text/search__result-text.css);
@import url(./__image/search__image.css);
@import url(./__recommendations/search__recommendations.css);

.search {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 400px;
  padding-top: 40px;
  margin: 0 auto;
  background-color: rgba(131, 201, 242, 0.8);
  border-radius: 15px;
  box-shadow: 0 0 10px;
}